/* reset css zerar algumas formatações
usar o seletor universal * 
asterisco representa todos os elementos da página */
* {
    margin: 0;
    padding: 0;
    /*tira o padding do navegador*/
    box-sizing: border-box;
    /* aplica o padding sem uma barra de rolagem horizontal*/
}
/* declarando variáveis */
:root {
    --bg-dark: #000;
    --color-primary:#fff;
    --color-secondary:#dc143c;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

.header-page {
    width: 100%;
    height: 80px;
    display: flex;
    /* vertical */
    align-items: center;

    /* horizontal */
    justify-content: space-between;
    /* space-between: adciona espaço entre os filhos, caso tenha mais de dois a propriedade cuidará de centralizar corretamente*/
    /* space-around: posiciona o filho central no meio e ajustas os outros em base dele, modificando o tamanho do espaçamento*/
    /* space-evenly: poosiciona os filhos com base na divisão igual */
   
    padding: 0 20px;

    position: absolute;
    /*cria um novo contexto de exibição para o elemento*/
}
.header-menu ul {
    display: flex;
}

.header-menu li { 
    margin: 0 10px;
}
.header-title{
    font-size: 35px;
    color: var(--color-primary);
}
.header-menu a{
    font-size: 15px;
    font-weight: 700;
    color:var(--color-primary);
    /*font-weight:  modifica a expessura da fonte*/
    text-transform: uppercase;
    /*text-transform: modifica o texto para uppercase*/
    transition: .5;
    /* transition: define como vai se comportar a transição, neste caso define como meio segundo*/
}
.header-menu a:hover{
    color: var(--color-secondary);
}
.logo-color{
    color: var(--color-secondary);
}








.container {
    width: 100%;
    min-height: 100vh ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    
}
/* hero */
.hero{
    color:var(--color-primary);
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    text-align: center;
}

.hero-title{
    font-size: 30px;
    margin-bottom: 30px;
}
.hero-text{
    width: 50%;
    line-height: 30px;
    /* muda espaçamento das linhas. Geralmente o dobro da fonte*/
    margin-bottom: 40px;
}
.btm{
    font-weight: 700;
    border: 2px solid var(--color-secondary);
    padding: 10px 30px;
    border-radius: 70px;
    background-color: var(--color-secondary);
    transition: .5;
    text-transform: uppercase;
}
.btm:hover{
    background-color: transparent;
}
/* fim hero */


/* TECH */
.tech{
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tech-item{
    height: 500px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tech-icon{
    font-size: 50px;
    padding: 25px;
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
    background-color: var(--color-secondary);
    transition: .5s;
    
}
.tech-icon:hover{
    transform: rotate(720deg);
    cursor: pointer;
    
}
.tech-title{
    margin: 20px 0;
    font-size: 40px;
    color: var(--color-secondary);
}
.tech-text{
    margin:20px 0 30px;
    font-size: 14px;
}
/* FIM TECH */

/*gallery*/
.gallery{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /* para respeitar os seus tamanhos e quebrar a 'linha'*/
    align-items: center;
    justify-content: space-around;
}
.gallery-item{
    width: 30%;
    padding: 10px 10px 20px 10px;
    background-color: var(--color-primary);
    margin: 30px 0;
    border-radius: 7px;
    transition: .5s;
}
.gallery-item:hover{
    cursor: pointer;
    transform: scale(1.2);
    background-color: var(--color-secondary);
}
.gallery-item img{
    width: 100%;
}
.gallery-item figcaption{
    font-size: 13px;
    font-weight: 700;
}
/*fim galley*/

.bg-image-1{
    background-image:linear-gradient(to top, rgba(0, 0, 0, 1),rgba(0,0,0,0))
    /*linear-gradient irá aplicar o blur, utilizando duas ou mais cores*/
    , url(../images/pexels-negative-space-34140.jpg);
}

.bg-image-2 {
    background-image: url(../images/pexels-expect-best-246684.jpg);
}

.bg-image-3 { 
    background-image: url(../images/pexels-picjumbocom-196659.jpg);
}

.bg-color-1 {
    background-color: var(--bg-dark);
}










    